{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h4 class="text-center">Login</h4>

    <div class="text-center">
        <div class="mt-5">
    
            <input 
                type="email" 
                value="{{ last_username }}" 
                name="email" 
                id="inputEmail" 
                class="block mt-10 mx-auto border-b-2 w-1/5 h-20 text-2xl outline-none" 
                placeholder="Email"
                autocomplete="email" 
                required 
                autofocus
            >

            <input 
                type="password" 
                name="password" 
                id="inputPassword" 
                class="block mt-10 mx-auto border-b-2 w-1/5 h-20 text-2xl outline-none" 
                autocomplete="current-password" 
                placeholder="Password"
                required
            >

            <input 
                type="hidden" 
                name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
        </form>
    </div>
    <div>
    <button 
        class="btn btn-primary mt-5" 
        type="submit">
        Login
    </button>
        <div class="mt-5">
            <a href="{{path('registration')}}" class="mt-5">Registrieren</a>
        </div>
    </div>
</div>
{% endblock %}