{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}

<h4 class="text-center">Erstellen/Bearbeiten</h4>

<div class="container w-50 m-auto">
    {{ form(editForm)}}
</div>

{% endblock %}